---
import '../styles/index.css'
import Navbar from '../components/Navbar.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c1726e12-db91-4d6e-9233-b32bb1abc0c4/dh7577x-060090b5-cff6-4931-b60a-0aefbc801dfd.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MxNzI2ZTEyLWRiOTEtNGQ2ZS05MjMzLWIzMmJiMWFiYzBjNFwvZGg3NTc3eC0wNjAwOTBiNS1jZmY2LTQ5MzEtYjYwYS0wYWVmYmM4MDFkZmQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.15SJpCrPM_BsT0b_-GQy6UzhGOV46PeSuztChMvSEtI" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gwimbly</title>
	</head>
	<body>

		<Navbar />
		
		<h1>Gwimbly</h1>
		<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c1726e12-db91-4d6e-9233-b32bb1abc0c4/dh7577x-060090b5-cff6-4931-b60a-0aefbc801dfd.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MxNzI2ZTEyLWRiOTEtNGQ2ZS05MjMzLWIzMmJiMWFiYzBjNFwvZGg3NTc3eC0wNjAwOTBiNS1jZmY2LTQ5MzEtYjYwYS0wYWVmYmM4MDFkZmQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.15SJpCrPM_BsT0b_-GQy6UzhGOV46PeSuztChMvSEtI" alt="Gwimbly" width="200px">
		<p>Yo I'm Gwimbly, classic 90s video game character from Gwimbly, Gwimbly 2: Mr. Millipede's Treasure, and Gwimbly 3: Gwimbly's Revenge</p>
		<p>Now Going Indie.</p>
	</body>
</html>
